 /* Reading Guide Popup
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
    position: fixed; 
    z-index: 1003;  /* Plotly Dash items sit at 1002 z-index */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.rg-content {
    margin: 2% 5% 5% 2%;
    padding: 0% 0% 0% 0%;
    width: 50%;
    height: 70%;
    overflow-y: auto;
    padding: 2%;
    background-color: white;
}

.rg-content h1 {
    font-size: 1.2em;
    text-decoration: underline;
}

.rg-content h2 {
    font-size: 1em;
}

.rg-content p {
    font-size: 0.9em;
}